jap{
    font-family: 'hakusyukaisyoextrabold_kkRg';
}

h1{
    font-size: 40px;
    font-family: 'Alegreya';
}

nav {
    display: inline-grid;
}

nav ul {
    background-image: url("scroll-mid.png");
    background-position: center top;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    width: 100%;
    font-family: 'Alegreya', serif;
}

nav img{
    padding: 0;
}

nav li {
    width: 100%;
    text-align:center;
}

nav li a {
    display: inline-block;
    width: 60px;
    color: 30332C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #EA8567;
}


about img{
    height: 50%;
    width: 50%;
    
}
cover img{
    height: 100%;
    width: 100%;
}

body{
    background-color:#E5D8AC;
    font-family: 'Alegreya', serif;
}
section {
 display: flex;
}

aside {
    flex: .75;
}

article {
    flex: 4.25;
    padding: 20px;
}





.active {
    background-color: #4CAF50;
}




footer{
    background-color: #EA8567;
    padding: 30px;
    text-align: center;
}